$bg: #f5f5f5;
$bg-secondary: #F1F1F1;

$main-space: 2em;
$secondary-space: 1em;
$tertiary-space: 0.5rem;
$border-radius: 3px;

$mobile: 768px;

$pink: #F7146B;
$text: #1a1a1a;
$text-contrast: #fff;
$border: #DFDFDF;

$transition: .3s ease-in-out;